html, body, #root, .App {
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif !important;
}

.Circle {
  border-radius: 100%;
}

.Star {
  background-color: rgba(0,0,0,0) !important;
}

.Star::before {
  content: '★';
}

.Grid {
  display: flex;
  justify-content: space-between;
  height: calc(100% - 50px);
  width: calc(100% - 50px);
  margin: 25px;
}

.Grid-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Fixation {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 100px;
}

.Instructions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 24px;
  height: 100%;
}

.Instructions-content {
  max-width: 710px;
  /*margin-top: -100px;*/
  text-align: center;
}

.Instructions-title {
  font-size: 36px;
  margin-bottom: 20px;
  font-weight: 300;
}

.Instructions-body {
  font-weight: 500;
  line-height: 1.6em;
  margin-bottom: 20px;
  text-align: left;
}

.Instructions-button {
  font-size: 24px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

.UserInput {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.UserInput-container {
  width: 700px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.UserInput-title {
  font-size: 36px;
  margin-bottom: 40px;
  font-weight: 300;
  text-align: center;
}

.UserInput-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  padding: 15px;
  border: 1px solid gray;
  width: 650px;
}

.UserInput-label {
  margin-right: 40px;
  font-size: 20px;
  width: 500px;
  font-weight: 500;
}

.UserInput-number {
  padding-left: 10px;
  font-size: 20px;
  width: 85px;
  margin-right: -5px;
  height: 40px;
  border: 1px solid gray;
}

.UserInput-duration {
  font-size: 20px;
  line-height: 1.6em;
  font-weight: 600;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.UserInput-duration label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.UserInput-duration label > input {
  margin-right: 10px;
}

.UserInput-submit {
  font-size: 24px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

.Prompt-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Prompt-group > select {
  margin: 10px;
  width: 100px;
  font-size: 18px;
}

.Prompt-group > button {
  margin-left: 10px;
  font-size: 18px;
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
}
